/* Remove the default padding and margins */
/* Select all the elements on the webpage */
*{
    margin: 0px;
    padding: 0px;
    font-family: "Cambria";
}


/* High contrast color scheme for improved readability */
body{
    color: #333;
    background-color: #fff;
}


/* All of the latest elements will appear as blocks in all browsers. */
header, footer, nav, article, aside, section {
    display: block;
}


/* Adjust the page's center */
.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 2%;
}


/* Parameters for logo on the page */
.logo{
    width: 15%;
    max-width: 120px;
    height: auto;
    float: left;
    margin-right: 2%;
    margin-bottom: 25px;
    padding: 1%;
}


/* To avoid header floating around the images */
.fix_position{
    clear: both;
}


/* Adjust position of navigation menu */
.nav_menu ul li {
    float: left;
    padding: 2.7% 2%; /*top, right*/
    list-style-type: none; /* Removes bullet points */
} 


/* Positions of main and aside blocks */
.section_left{
    float: left;
    max-width: 70%;
    text-align: justify;
    font-size: 17px;
}


/* Margins for Article that is child of Section tag*/
.section_left article{
    margin-right: 5%;
    padding: 1%;
}


/* Add line spacing to the links */
.section_left p{
    display: inline-block;
    margin-bottom: 10px;
    margin-top: 5px;
}


/* Center header */
.section_left h1{
    text-align: center;
    padding: 2px;
}

.section_left h4{
    padding-top: 4%;
}

.aside_right{
    float: right;
    max-width: 30%;
    text-align: justify;
    padding-top: 1.7%;
}


/* Margins for div tags that are children of Aside tag*/
.aside_right div{
    margin: 0 27% 5% 0; /*top, right, bottom, left */
    padding: 1%;
    padding-top: 2%;
}

#links ul{
    list-style-type: none; /* Removes bullet points */
}

#bullet_point{
    display: inline-block;
    list-style-position:inside;
    padding: 10px;
}

#bullet_point p{
    padding-bottom: 10px;
}


/* Add line spacing to the links */
#links a{
    display: inline-block;
    margin-bottom: 3px;
    margin-top: 3px;
    font-size: 14px;
    text-decoration: none;
}


/* State of links while interaction */
a:active{
    color: blue;
    text-decoration: underline;
}

a:hover{
    text-decoration:wavy;
    color: #cf3030;
}

a:visited{
    color: blueviolet;
}


/* Fix position of footer on the page */
.page_footer{
    clear: both;
    flex-direction: column;
    background-color: #333;
    color: #fff;
    padding: 1% 2% 1% 1%; /*top, right */
    display: flex;
    font-size: 14px;
    border-radius: 5px;
}


/* Style for the top of the footer where the subscription form */
#top_footer{
    margin-bottom: 25px;
}

#top_footer h4{
    margin-bottom: 7px;
}

#top_footer button[type="submit"]{
    padding: 3px;
    cursor: pointer;
    border: none;
    border-radius: 3px;
}

#top_footer input[type="email"]{
    border: none;
    border-radius: 3px;
    padding: 3px;
}


/* Button state while interaction */
button:active{
    color: blue;
    text-decoration: underline;
}

button:hover{
    background-color:#706c6c;
    text-decoration:wavy;
    color: whitesmoke;
}

button:visited{
    color: blueviolet;
}


/* Style for the bottom of the footer with the copyright */
#bottom_footer{
    font-size: 12px;
    text-align: right;
}


/* Padding of 2% when the screen size is 768px or less */
@media only screen and (max-width: 768px){
    .container{
        padding: 0 2%;
    }

    /*  when the screen width is smaller create one column and four rows that takes up the available space for responsive design */
    .grid{
        grid-template-columns: repeat(1, 1fr); 
        grid-template-rows: repeat(4, 1f);
    }
}


/* To center the video object horizontally*/
#videos{
    display: block; /* to ensure a block-level element*/
    margin: 0 auto;
}

#audio{
    display: block; /* to ensure a block-level element*/
    padding-top: 2%;
    margin: 0 auto;
}


/*Vide description text style*/
#video-desc{
    text-align: justify;
    margin: 7%;
    margin-top: 2%;
    font-size: 15px;
    font-style: italic;
}

#media_title{
    margin: 2%;
    margin-left: 6%;
    text-align: left;
}

.table_view{
    max-width: 90%; /* Sets a maximum width to percentage of its parent container */
    margin: 0 auto; /* Center the table_view */
}


/* Create two columns and two rows that each take up an equal portion of the available space */
.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(2, 1fr);
    gap: 4%;
}


/* Stling of sections in the grid*/
#item{
    padding-bottom: 1%;
    padding-right: 17%;
    text-align: justify;
    font-size: 15px;
}


/* To style the 'about' page*/
#about{
    text-align: left;
}

#about-list{
    padding: 1%;
    display: inline-block;
    list-style-position: inside;
    padding-bottom: 20%;
    line-height: 1.5em;
}
